
.column{
float:left;
width:33%;
}

.before{
  background-color: lightblue;
}

.during{
background-color: hotpink
}
.after{
background-color: lightyellow;
}

p{
  padding:1em;
}
/*WIDTH USE WIDTH WITH THE FLOAT ITEM*/
img{
  float: left;
  padding: 1em;
}
h3{
  text-align: center;
}
